.Pompa_conteiner{
	.first_block{
		display: flex;
	}
	.pompa_title{
		margin-bottom: 121px;
	}
	.two_block{
		display: flex;
		margin-bottom: 164px;
	}
	.product_first_conteiner{
		border-right: 2px solid #E5E5E5;
		padding-right: 49px;
		margin-right: 49px;
		
	}
}